<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Awesome Diary</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libs/semantic/dist/semantic.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='libs/semantic/dist/semantic.min.js') }}"></script>



    <script type="text/javascript">
        $(document).ready(function() {
            // Modal open
            $('#showEditor').click(function() {

                $('#category')
                    .modal({
                        closable: false,
                        offset: 400,
                        onDeny: function() {},
                        onApprove: function() {}
                    }).modal('show');
            });


            $("#accordion").accordion();
            $('#example1').progress();

            $('.ui.accordion').accordion();

        });
    </script>
</head>

<body>
    <button id="showEditor" class="ui button">Show Editor</button>

    <div class="ui long modal" id="cateogory">
        <div class="header">

            <div class="ui sizer vertical segment">
                <div class="ui large header">Awesome Diary</div>
                <p>
                    <div class="ui grid">
                        <div class="fourteen wide column">
                            <div class="ui teal progress" data-percent="74" id="example1">
                                <div class="bar"></div>
                                <div class="label">74% done</div>
                            </div>
                        </div>
                        <div class="one wide column">
                            <div class="actions">
                                <div class="ui green ok inverted button">
                                    <i class="checkmark icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </p>
            </div>







        </div>
        <div class="content">

            <div class="ui segment">
                <div class="ui styled accordion">
                    <div class="title active">
                        <i class="dropdown icon"></i> How do you feeling today?
                    </div>
                    <div class="content active">
                        <p class="transition visible" style="display: block !important;">
                            <div class="five ui buttons">
                                <button class="ui purple button">Sad</button>
                                <button class="ui blue button">Gloomy</button>
                                <button class="ui green button">Not bad<</button>
                                <button class="ui pink button">Happy</button>
                                <button class="ui red button">Awesome!!</button>
                            </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i> How about this photo?
                    </div>
                    <div class="content">
                        <p class="transition hidden">
                            <div class="ui three doubling cards">
                                <div class="card">
                                    <div class="image">
                                        <img src="http://blogfiles11.naver.net/20131230_106/dage24_1388363858662fJEKu_JPEG/%C7%C7%C0%DA%B9%E410.JPG">
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="image">
                                        <img src="http://semantic-ui.com/images/avatar/large/elliot.jpg">
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="image">
                                        <img src="http://blogfiles1.naver.net/20160721_165/artatelier1_1469083996099ut2NR_JPEG/%B9%CC%BC%FA%B9%E8%BF%EC%B1%E2_%282%29.jpg">
                                    </div>
                                </div>
                            </div>

                        </p>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i> The photo is .... ?
                    </div>
                    <div class="content">
                        <p class="transition hidden">직장인 미술학원 :: 퇴근 후 취미 너로 정했다 !</p>
                        <p class="transition hidden">http://blog.naver.com/artatelier1?Redirect=Log&logNo=220768026022</p>
                    </div>

                    <div class="title">
                        One of the people you follow like this...

                    </div>
                    <div class="content">
                        <p class="transition hidden">Cute dog</p>
                        <p class="transition hidden">Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size. Many people also have their own barometers for what makes
                            a cute dog.</p>
                    </div>
                </div>
            </div>
        </div>




    </div>
</body>

</html>
